.getintouch {
	padding: 30px 0px 100px 0px;
}
.getintouch__header {
	margin: 0px 0px 80px 0px;
}
.getintouch__items {
	margin: 0px -15px;
}
@media (min-width: 992px) {
	.getintouch__items {
		margin: 0;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
	}
}
@media (max-width: 992px) {
	.getintouch__header {
		margin: 0px 0px 50px 0px;
	}
}
@media (max-width: 767px) {
	.getintouch__header {
		margin: 0px 0px 30px 0px;
	}
}
.getintouch__item {
	-webkit-box-flex: 0;
	-ms-flex: 0 1 33.333%;
	flex: 0 1 33.333%;
}

@media (max-width: 992px) {
	.getintouch {
		padding: 50px 0px;
	}
}
.item-getintouch {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	background: #e3e6f3;
	padding: 50px 15px;
}
.item-getintouch_active {
	border: 1px solid #ff7b47;
	background: #252b42;
	color: #fff;
	padding: 80px 15px;
}
@media (max-width: 992px) {
	.item-getintouch_active {
		padding: 50px 15px;
	}
}
.item-getintouch_active .item-getintouch__button {
	border: 1px solid #fff;
	color: #fff;
}
.item-getintouch__icon img {
	width: 90px;
	height: 90px;
}
.item-getintouch__icon .dark__img {
	width: 110px;
	height: 110px;
}
.item-getintouch__emails {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}
.item-getintouch__email {
	color: inherit;
	font-weight: 600;
	font-size: 16px;
	line-height: 150%;
}

.item-getintouch__label {
	font-weight: bold;
	font-size: 16px;
	line-height: 150%;
}
.item-getintouch__button {
	border: 1px solid #ff7b47;
	min-height: 44px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	font-weight: 600;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	color: #ff7b47;
	line-height: 142%;
	padding: 5px 30px;
	text-align: center;
	-webkit-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s;
	border-radius: 5px;
	font-size: 16px;
}
.item-getintouch__button:hover {
	border: 1px solid #ff7b47;
	background: #ff7b47;
	color: #fff;
}

.item-getintouch > *:not(:last-child) {
	margin: 0px 0px 15px 0px;
}

.contact {
	background: #fafafa;
	padding: 42px 0;
}
.contact__content {
	padding: 0px 0px 20px 0px;
}
@media (min-width: 767px) {
	.contact__body {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: justify;
		-ms-flex-pack: justify;
		justify-content: space-between;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
	}
	.contact__content {
		padding: 0px 20px 0px 0px;
	}
}
.contact__title {
	font-weight: bold;
	font-size: 24px;
	line-height: 133%;
	letter-spacing: 0.1px;
}
.contact__title:not(:last-child) {
	margin: 0px 0px 10px 0px;
}
.contact__text {
	line-height: 143%;
	letter-spacing: 0.2px;
	color: #737373;
}
.contact__button {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	background-color: #ff7b47;
	border-radius: 5px;
	padding: 5px 40px;
	min-height: 58px;
	font-size: 14px;
	line-height: 200%;
	letter-spacing: 0.2px;
	-webkit-transition: background-color 0.3s ease 0s;
	transition: background-color 0.3s ease 0s;
	text-align: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	color: #ffffff;
}
.contact__button:hover {
	background-color: #aa5330;
}
