.section {
	display: flex;
	align-items: center;
	padding: 120px 0px 40px 0px;
	background-color: #0c011a;
}

.container {
	margin: 0px auto;
	padding: 0px 15px;
	max-width: 1200px;
	min-height: auto;
}

.title-1 {
	color: white;
	margin-bottom: 30px;
	font-size: 40px;
}

.project-details__desc {
	color: white;
	margin-bottom: 20px;
	font-size: 22px;
}

.project-details {
	margin: 0px auto;
	max-width: 865px;

	display: flex;
	flex-direction: column;
	align-items: center;

	text-align: center;
}

.project-details__cover {
	max-width: 80%;
	margin-bottom: 40px;

	box-shadow: var(--box-shadow);
	border-radius: 10px;
}
